#map {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  
  .chart-container img {
    width: 80%;       /* Increase or decrease as needed */
    max-width: 0px; /* Prevents from being too large */
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
  